<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${logging.appenders.file.path}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="${logging.loggers.tokenized}" level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="${logging.loggers.word2vec}" level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <logger name="${logging.loggers.cosineSimilarity}" level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <root level="${logging.level}">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
